@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    padding: 30;
    margin: 0;
}

html {

    font-size: 10px;
    font-family: 'montserrat', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    width: 90%;
    background-color: beige;


}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-title span {
    color:crimson;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: crimson;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: crimson;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.container {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 113vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: transparent;
    transition: .3s ease background-color;
}

.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 103vw;
    height: 111vh;
    left: 101%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: crimson;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.7);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    overflow: inherit;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

#home {
    background: url("../images/home.jpg");
    background-size: 600px 100px;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    z-index: 1;
}

#home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#home .home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#home h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text-revel .5s ease forwards;
    animation-delay: 1s;
}

#home h1:nth-child(1) {
    animation-delay: 1s;
}

#home h1:nth-child(2) {
    animation-delay: 2s;
}

#home h1:nth-child(3) {
    animation: text-revel-name .5s ease forwards;
    animation-delay: 3s;
}

#home h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: crimson;
    animation: text-revel-box 1s ease;
    animation-delay: 0.3s;
}

#home h1:nth-child(1) span {
    animation-delay: .5s;
}

#home h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#home h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#home .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#home .cta:hover {
    color: white;
    background-color: crimson;
}




@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text-revel-box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text-revel {
    100% {
        color: white;
    }
}

@keyframes text-revel-name {
    100% {
        color: crimson;
        font-weight: bold;
    }
}

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.about .col-left {
    width: 250px;
    height: 360px;
}

.about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

.about .col-right p {
    margin-bottom: 20px;
}

.about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

.about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 12px solid white;
}

.about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}

.about .col-right span {
    color: crimson;
}

.about .col-right {
    width: 100%;
}

.about .col-right .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
}

.about p span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#work .work {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#work .work-items {
    width: 400px;
}

#work .work-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

#work .work-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#work .cta {
    color: black;
}

#work.icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#work .work-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#work .work-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}


.skill h1 {
    text-align: center;
}

.skill h3 {
    margin: 5px;
}

.skill {
    background: #333;
    text-transform: uppercase;
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill li {
    margin: 20px auto;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, .1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22);

}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1), 0%, rgba(252, 103, 103, 1)100%);
}

.skill .html {
    width: 90%;
    animation: html 3s;

}

.css {
    width: 80%;
    animation: css 3s;

}

.photoshop {
    width: 70%;
    animation: photoshop 3s;

}

.java {
    width: 40%;
    animation: java 3s;

}

.illustrator {
    width: 50%;
    animation: illustrator 3s;

}

.uiux {
    width: 60%;
    animation: uiux 3s;

}


@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }


}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width:80%;
    }


}
@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }


}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }


}


@keyframes illustrator {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }


}


@keyframes uiux {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }


}














.contact {


    padding: 10px;
}

.contact.container {

    min-width: 109%;
    min-height: 40vh;
    margin-bottom: 90px;
}

.contact.cnt {
    color: #333;
}

.contact h1 {
    margin-bottom: 28px;
    color: crimson;
}

.cnt {
    margin-top: 10px;
    color: #29323c;

}

.cnt .t {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;

}



#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: 115%;
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}





@media only screen and (min-width: 375px) {

    .about .col-right .cta {
        margin-left: -11px;
    }

    .about .col-left {
        margin-right: 21px;
    }

    .skill {
        margin-left: 6px;
    }



}

@media only screen and (min-width:390px) {
    .skill {
        margin-left: 14px;
    }

    .contact {
        padding: 0px;
        margin-left: 16px;
    }
}


@media only screen and (min-width: 414px) {}



@media only screen and (min-width: 360px) {



    #home {
        background-size: 510px 529px;
        background-position: center;
        width: 119%;

    }

    #header .hamburger {
        left: -24px;
    }

    #header .nav-list ul.active {
        left: -24px;
    }


    .about .col-left {
        margin-right: 22px;
    }


    #work .work-items {
        width: 377px;
    }

    #work .work-items {
        margin-left: 14px;
    }

    .section-title {
        margin-left: 55px;
    }


    .about .col-right .section-title {
        margin-left: -2px;
    }


    #footer {
        width: 119%;
    }



    @media only screen and (min-width: 360px) {
        .skill {
            width: 343px;
        }


        .about .col-left .about-img {
            margin-left: 40px;
        }

        .about .col-right {
            width: 100%;
            margin-left: 70px;
        }
    }



    @media only screen and (min-width: 414px) {
        .skill {
            margin-left: 11px;
        }

        .contact {
            padding: 0px;
        }
    }


    @media only screen and (min-width: 412px) {
        .skill {
            width: 370px;
        }
    }

    @media only screen and (min-width: 415px) {
        .skill {
            width: 391px;
        }
    }




  

    @media only screen and (min-width: 768px) {


        #home .home {
            justify-content: center;
        }

        #home h1 {
            font-size: 6rem;
        }


        #home .cta {
            font-size: 2.5rem;
            padding: 20px 60px;
        }

        #services .service-bottom .service-item {
            flex-basis: 45%;
            margin: 2.5%;
        }


        .contact h1 {
            font-size: 4rem;
            font-weight: 300;
        }

        .cnt .t {
            font-size: 28px;
            line-height: 70px;
        }

        .contact p {
            font-size: 3rem;
        }

        #hero h1 {
            font-size: 7rem;
        }


        .about .col-right {
            margin-left: 109px;
        }

        .about .col-right h2 {
            font-size: 2.4rem;
            margin-left: 33px;

        }

        .about .col-right p {
            font-size: 1.9rem;
            line-height: 2.9rem;
            font-weight: 500;
        }

        .about .col-left {
            margin-right: 0px;
            margin-top: 28px;
        }



        .skill {
            width: 390px;
            margin-left: 180px;
        }

        #work .work-items {
            margin-left: 68px;
        }

        .section-title {
            margin-left: 106px;
        }


    }

    
    @media only screen and (min-width: 820px) {
        .skill{
            margin-left: 220px;
        }

        .section-title {
            margin-left: 128px;
        }
    }



    @media only screen and (min-width: 1200px) {

        .header .nav-bar {
            margin-left: -113px;
        }

        #header .hamburger {
            display: none;
        }

        #header .nav-list ul {
            position: initial;
            display: block;
            height: auto;
            width: fit-content;
            background-color: transparent;
        }

        #header .nav-list ul li {
            display: inline-block;
        }

        #header .nav-list ul li a {
            font-size: 1.8rem;
        }

        #header .nav-list ul a:after {
            display: none;
        }

        #about .about {
            flex-direction: row;
            padding-left: 106px;
        }

        .about .section-title {
            margin-left: -314px;
        }

        .about .col-right h2 {
            font-size: 2.4rem;
            margin-left: -3px;
        }

        .about .col-right p {
            margin-left: -5px;
        }

        #about .col-left {
            width: 600px;
            height: 400px;
            padding-left: 30px;
        }


        #about .col-right {
            text-align: left;
            padding: 30px;
        }




        @media only screen and (min-width: 1400px) {


            #home .home{
                justify-content: space-between;
            }


            #about .col-right{
                margin-top: 60px;
            }
            .about .col-right .section-title{
                text-align: left;
            }
            #home {
                background-size: 600px 600px;
                background-position: right;
                width: 111%;

            }

            .skill {
                width: auto;
                margin-right: 88px;
            }

            #work .work {
                margin-left: 96px;
            }

            #footer {
                width: 111%;


            }
        }

    }
}